﻿* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

html { 
    font-family: sans-serif;
}

/* INDEX */

body {margin:0; padding:0;
background-image: url("../img/fon.png");
color:#000000;
min-width:750px;

}

.main {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    align-content: center;
}


/* Итог */

.main-head {
    width: 100%;
    display: block;
    font-size: x-large;
    margin-top: 300px;
    padding: 5px;
    text-align: center;
    background-color: #FFFFFF;
    margin: 40px;
    border: #000 solid;
    border-radius: 10px;
}

.main-button {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 10px;
    background-color: #FFFFFF;
    margin: 40px;
    border: #000 solid;
    border-radius: 10px;
}

.header-head {
    font-size: medium;
    padding: 5px;
    text-align: center;
    background-color: #FFFFFF;
    margin: 40px;
    border: #000 solid;
    border-radius: 10px;
}

.section-players-list{
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px; 
}

.section-players-img {
    height: 100px;
    width: 60px;
}
.section-players-items {
    padding: 10px;
    text-align: center;
    flex: 1 1 25%;
    background-color: #FFFFFF;
    margin: 40px;
    border: #000 solid;
    border-radius: 10px;
}

.main-content {
    text-align: center;
    padding: 10px;
    background-color: #FFFFFF;
    margin: 40px;
    border: #000 solid;
    border-radius: 10px;
}

.button {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 10px;
    background-color: #FFFFFF;
    margin: 40px;
    border: #000 solid;
    border-radius: 10px;
}

#Name h { 
background: #FFFFFF;
font-family:'Comic Sans MS', Times, serif;
font-weight:bold;
font-size:62px;
text-align: center;
padding:3px;
margin:0;
position:absolute;
top: 28%;
left: 38%;
border: 3px solid #000000;
border-radius: 5px;
}

#Play h { 
background: #FFFFFF;
font-family:'Comic Sans MS', Times, serif;
font-weight:bold;
font-size:50px;
text-align: center;
padding:5px;
margin:0;
position:absolute;
top: 68%;
left: 45%;
border: 3px solid #000000;
border-radius: 15px;
}

#1 { 
float:left;
top: 100px;
left: 100px;
padding:5px;
margin:0;
position:absolute;
}

/* NAME_RULES */

#NameR h { 
background: #FFFFFF;
font-family:'Comic Sans MS', Times, serif;
font-weight:bold;
font-size:62px;
text-align: center;
padding:3px;
margin:0;
position:absolute;
top: 28%;
left: 38%;
border: 3px solid #000000;
border-radius: 5px;
}

#PlayR h { 
background: #FFFFFF;
font-family:'Comic Sans MS', Times, serif;
font-weight:bold;
font-size:50px;
text-align: center;
padding:5px;
margin:0;
position:absolute;
top: 68%;
left: 45%;
border: 3px solid #000000;
border-radius: 15px;
}

#zag h { 
width: 30%;
height: 11%;
background: #FFFFFF;
font-family:'Comic Sans MS', Times, serif;
font-weight:bold;
font-size:35px;
text-align: center;
padding:5px;
margin:0;
position:absolute;
top: 5%;
left: 35%;
border: 3px solid #000000;
border-radius: 5px;
}


#Next h { 
width: 30%;
height: 12%;
background: #FFFFFF;
font-family:'Comic Sans MS', Times, serif;
font-weight:bold;
font-size:28px;
text-align: center;
padding:5px;
margin:0;
position:absolute;
top: 80%;
left: 60%;
border: 3px solid #000000;
border-radius: 15px;
}

/* HISTORY */

#NameH h { 
background: #FFFFFF;
width: 70%;
height: 55%;
font-family:'Comic Sans MS', Times, serif;
font-weight:bold;
font-size:35px;
text-align: center;
padding:3px;
margin:0;
position:absolute;
top: 10%;
left: 15%;
border: 3px solid #000000;
border-radius: 5px;
}

#PlayH h { 
background: #FFFFFF;
font-family:'Comic Sans MS', Times, serif;
font-weight:bold;
font-size:45px;
text-align: center;
padding:5px;
margin:0;
position:absolute;
top: 68%;
left: 35%;
border: 3px solid #000000;
border-radius: 15px;
}



/* GAME */



#Name2 h { 
width: 50%;
height: 7%;
background: #FFFFFF;
font-family:'Comic Sans MS', Times, serif;
font-weight:bold;
font-size:25px;
text-align: center;
padding:15px;
margin:0;
position:absolute;
top: 3%;
left: 25%;
border: 3px solid #000000;
border-radius: 10px;
}

#Schet h { 
width: 20%;
height: 10%;
background: #FFFFFF;
font-family:'Comic Sans MS', Times, serif;
font-weight:bold;
font-size:25px;
text-align: center;
padding:15px;
margin:0;
position:absolute;
top: 15%;
left: 40%;
border: 3px solid #000000;
border-radius: 10px;
}



#igrok1  {
width: 30%;
height: 90%;  
padding:15px;
margin:0;
position: absolute;
top: 30%;
left: 18%;

}

#tablo  { 
width: 50%;
height: 60%; 
padding:15px;
margin:0 auto;
position: absolute;
top: 27%;
left: 24%;
}

#igrok2  { 
/*width: 30%;
height: 90%; */ 
padding:15px;
margin:0;
position: absolute;
top: 29%;
left: 75%;

}

#button1  { 
width: 25%;
height: 12%;
background: #FFFFFF;
font-family:'Comic Sans MS', Times, serif;
font-weight:bold;
font-size:28px;
text-align: center;
padding:5px;
margin:0;
position:absolute;
top: 80%;
left: 20%;
border: 3px solid #000000;
border-radius: 15px;
}


#button2 { 
width: 30%;
height: 12%;
background: #FFFFFF;
font-family:'Comic Sans MS', Times, serif;
font-weight:bold;
font-size:28px;
text-align: center;
padding:5px;
margin:0;
position:absolute;
top: 80%;
left: 60%;
border: 3px solid #000000;
border-radius: 15px;
}

/* ITOG */



#Itog h { 
width: 60%;
height: 10%;
background: #FFFFFF;
font-family:'Comic Sans MS', Times, serif;
font-weight:bold;
font-size:35px;
text-align: center;
padding:15px;
margin:0;
position:absolute;
top: 3%;
left: 20%;
border: 3px solid #000000;
border-radius: 10px;
}



#Tip1{
width: 15%;
height: 33%;
padding:15px;
margin:0;
position:absolute;
top: 18%;
left: 11%;
}

#Tip2{
width: 10%;
height: 25%;
padding:15px;
margin:0;
position:absolute;
top: 18%;
left: 40%;
}


#Tip3{
width: 10%;
height: 25%;
padding:15px;
margin:0;
position:absolute;
top: 18%;
left: 82%;
}

#Tip4{
width: 10%;
height: 25%;
padding:15px;
margin:0;
position:absolute;
top: 52%;
left: 45%;
}

#Tip5{
width: 10%;
height: 25%;
padding:15px;
margin:0;
position:absolute;
top: 52%;
left: 85%;
}

#Tip1-1 h{
width: 10%;
height: 15%;
background: #FFFFFF;
font-family:'Comic Sans MS', Times, serif;
font-weight:bold;
font-size:25px;
text-align: center;
padding:15px;
margin:0;
position:absolute;
top: 25%;
left: 1%;
border: 3px solid #000000;
border-radius: 10px;
}

#Tip2-1 h{
width: 10%;
height: 15%;
background: #FFFFFF;
font-family:'Comic Sans MS', Times, serif;
font-weight:bold;
font-size:25px;
text-align: center;
padding:15px;
margin:0;
position:absolute;
top: 25%;
left: 27%;
border: 3px solid #000000;
border-radius: 10px;
}

#Tip3-1 h{
width: 25%;
height: 15%;
background: #FFFFFF;
font-family:'Comic Sans MS', Times, serif;
font-weight:bold;
font-size:25px;
text-align: center;
padding:15px;
margin:0;
position:absolute;
top: 25%;
left: 55%;
border: 3px solid #000000;
border-radius: 10px;
}

#Tip4-1 h{
width: 40%;
height: 18%;
background: #FFFFFF;
font-family:'Comic Sans MS', Times, serif;
font-weight:bold;
font-size:25px;
text-align: center;
padding:15px;
margin:0;
position:absolute;
top: 55%;
left: 1%;
border: 3px solid #000000;
border-radius: 10px;
}

#Tip5-1 h{
width: 20%;
height: 15%;
background: #FFFFFF;
font-family:'Comic Sans MS', Times, serif;
font-weight:bold;
font-size:25px;
text-align: center;
padding:15px;
margin:0;
position: absolute;
top: 55%;
left: 60%;
border: 3px solid #000000;
border-radius: 10px;
}

#Play1 h { 
width: 26%;
height: 5%;
background: #FFFFFF;
font-family:'Comic Sans MS', Times, serif;
font-weight:bold;
font-size:28px;
text-align: center;
padding:5px;
margin:0;
position:absolute;
top: 90%;
left: 37%;
border: 3px solid #000000;
border-radius: 15px;
}

